@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: 'TituloCustom';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TextoCustom';
  src: url('../fonts/Playfair-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply bg-[#E8F0EC] dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.animacao-rotacao {
  animation: rotacao 1s ease forwards;
}

.titulo {
  font-family: 'TituloCustom', sans-serif;
}

.texto-custom {
  font-family: 'TextoCustom', sans-serif;
}

@keyframes rotacao {
	0% {
    transform: rotate(360deg);
	}
  
	100% {
    transform: rotate(0);
	}
}